.idea/
.vscode/
jsconfig.json
node_modules/
publish-common
dist/
*.iml
webpack-assets.json
webpack-stats.json
*.log
/docs
coverage
/isolate-*
publish-common

# Project
phantomjsdriver.log
.svn
.svn/*
.npm
coverage
node_modules
src-cov
src/bower_components
test/coverage.html
tmp
tmp/*
dist
npm-debug.log
test/fixtures/index.html
test/fixtures/secure-index.html
*.md.html

# Editors
.idea
.idea/*
**/tags

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# vim
*.un~
Session.vim
.netrwhist
*~

# vagrant
.vagrant
.vagrant/*
